.Header{
    width:100%;
    height:60px;
    padding-left:20px;
    padding-right:20px;
    background-color: #4286f4;
}

.MenuIcon{
    float: left;
    color:#fff;
    font-size: 26px;
    line-height: 60px;
    margin-top: 15px;
    margin-right: 10px;
}

.AppName{
    margin: 0;
    padding: 0;
    color:#fff;
    float: left;
    margin-left: 5px;
    line-height: 60px;
    font-size: 20px;
}